.container{
    width: 100%
}

#_EdtBody {
    width: 85%;
    float: right;
    min-height: 700px;
    padding-top: 20px;
    padding-right: 2%;
    padding-left: 2%;
    /*background-color: purple;*/
    --header-margin-right: 29.82%;
}

.edt-titre-block {
    padding: 0;
    margin-bottom: 30px;
    font-size: 26px;
    /*background-color: cornflowerblue;*/
}

.edt-titre-text {
    margin-right: var(--header-margin-right);
    vertical-align: 20%;
    /*background-color: yellow;*/
}

.edt-semaine {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}

.edt-header-semaine{

}

.edt-body-semaine{
}

.edt-column{
    width: 14.286%;
    border: 1px solid black;
}

.edt-header-column {
    text-align: center;
    padding-top: 10px;
    background-color: rgba(255, 0, 0, 0.5);
}

.edt-body-column {
    /*background-color: rgba(0, 255, 33, 0.5);*/
}

.edt-container-journee {
    min-height: 500px;
    text-align: center;
    width: 100%;
}

.edt-container-journee-ferie {
    background: repeating-linear-gradient(-45deg, transparent, transparent 20px, #e0ffff 20px, #e0ffff 40px);
}


.edt-container-journee-ue {
    margin-top: 10px;
    margin-bottom: 30px;
}
S
.edt-journee-formation {
    margin-bottom: 7px;
    font-weight: bold;
}

.edt-journee-formation-nom {
    font-weight: bold;
}

.edt-journee-formateur {
}

.edt-btn-next-link {
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.edt-btn-next-link:hover {
    text-decoration: none;
    color: white;
    background-color: #333333;
}


.edt-btn-next-gauche {
    margin-right: var(--header-margin-right);
}


/*_EdtMonth*/

#_EdtMonth {
    width: 15%;
    float: left;
    min-height: 735px;
    padding-top: 20px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 6%;

    /*background-color: green;*/
}

.edt-month-header{
    font-size: 20px;
    padding-left: 4%;
    /*background-color: blue;*/
}

.edt-month-header-titre {
    /*background-color: pink;*/
    display:inline-block;
    width: 80%;
    text-align: center;
}

.edt-mois-column {
    /*background-color: purple;*/
    text-align: center;
    width: 35px;
    height: 30px;
}

.edt-mois-column-header{
}

.edt-mois-btn-jours {
    display: block;
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 100%;
    /*background-color: white;*/
    color: black;
}

.edt-mois-btn-jours a{
    text-decoration: none;
}

.edt-mois-btn-jours:hover {
    background-color: #333333;
    text-decoration: none;
    color: white;
}

.edt-mois-btn-jours-reference {
    background-color: #337ab7;
    color: white;
}
