



.header {
    margin-top: -5%;
    margin-left: -10%;
    border: 3px solid black
}


.menu {
    margin-top: 3.5%;
    padding: 5px;
    margin-left:1%;
    height: 400px;
    width: 900px
}

.p {
    display: block;
    background-color: #e11e1e;
    color :white;
    border-style: solid;
    border-radius: 25px;
    border-color: #09C;
    height: 150px;
    width: 150px;
}

.p1 {
    margin-left: 3%;
    margin-top: 1%
}

.p2 {
    margin-left: 28%;
    margin-top: -17%
}

.p3 {
    margin-left: 54%;
    margin-top: -17%
}

.p4 {
    margin-left: 80%;
    margin-top: -17%
}

.p5 {
    margin-left: 106%;
    margin-top: -17%
}

.p6 {
    margin-left: 40%;
    margin-top: 5%
}


.p7 {
    margin-left: 70%;
    margin-top: -17%
}


