#Details {
    /*background-color: lightgreen;*/
}

.container {
    --color: rgba(255, 0, 0, 0.7);
}

.partage-fichier-header {
    margin-top: 50px;
    width: 700px;
    height: 40px;
    background-color: var(--color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    vertical-align: central;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    margin-bottom: 40px;
}

.datagrid {
    border: 2px solid var(--color);
    padding: 5px;
    height: 620px;
    overflow: auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.onglet-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.onglet {
    background-color: var(--color);
    height: 34px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 6px;
}

.onglet-padding {
    padding-right: 30px;
    padding-left: 30px;
}

.previous-directory {
    width: 350px;
}

.create-directory {
    width: 270px;
}

.file-deposit {
    width: 350px;
}

.btn-partage-fichier {
    display: inline-block;
    border: none;
    background-color: #337ab7;
    color: white;
    height: 24px;
    border-radius: 5px;
}

.btn-partage-fichier-previous {
    width: 30px;
}

.btn-icon-arrow {
    display: inline-block;
    width: 30px;
    transform: rotate(-90deg);
    margin-top: -3px;
}

.directory-path-label {
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 22px;
    border: 1px solid black;
    padding-left: 3px;
    white-space: nowrap; /*Pour forcer le texte sur une seule ligne*/
    text-overflow: ellipsis;
    overflow: hidden;
}

.input-file {
    display: inline-block;
    float: left;
}

.partageFichier-fenetre {
    margin: 2px;
    display: inline-block;
    width: 120px;
    height: 110px;
    text-align: center;
}

.icon-partageFichier {
    height: 70px;
}

.partage-fichier-icon-texte {
    width: 120px;
    height: 40px;
}

