* {
    margin: 0;
    padding: 0;
}

.contact-section {

    background-size: cover;
    padding: 200px 20px;
    min-height: 100%;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    font-family: Calibri, Times New Roman, Arial, Verdana, Times, sans-serif;
    font-size: 1.1em;    
    border-width: 5px;
} 


    .contact-section h1 {
        text-align: center;
        color: #34495e;
    }

.border {
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin-top: -8%;
    margin-left: 0%;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

    .contact-form-text:focus {
        box-shadow: 0 0 10px 4px #34495e;
    }

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.envoyer {
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 62.5%
}

.contact-form-btn:hover {
    background: #2980b9;
}
#map {
    padding: 1.0em;
    margin-left : 35%;
    margin-top: -56.5%;
    padding-top: 2px;
    overflow: hidden;
    text-align: center;

} 

#titre1 {
    text-align :center;
    
}

#titre2 {
    text-align :center;
    color :black;
    
}

.divprincipale{
    margin-top: 10%
}

.basdepage{
    margin-top : 15%
}