@model GestionFormation.Services.FicheEval


@*<label>voici</label>
    <input type="checkbox" name="check1" >*@

<h2>Feuille D'evaluation</h2>
@*<div>
        <input type="checkbox" name="chk1">
        <label for="scales">Scales</label>


    </div>*@

@*@Html.CheckBox("cSharp", false)*@




@using (Html.BeginForm("PrintEval", "Apprenant", FormMethod.Post))
{
    <label class="checkbox-inline">
        c#
    </label>
    @Html.CheckBoxFor(model => model.cSharp)

    <p>
        <input type="submit" value="Submit" />
    </p>
}

