

<link rel="stylesheet" href="~/Content/formulairenonrempliStyle.css">

<h1>Merci de remplir tout le formulaire </h1>
<div class="monimage">
    <img src="~/Images/Img_PartageFichier/Formulairenonrempli.png" />
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
@Html.ActionLink("Retour dans le formulaire d'évaluation ", "feuilleEvaluation", "Apprenant")