<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">




    <!-- Bootstrap core CSS -->
    <link href="~/content/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }     
    </style>


    <!-- Custom styles for this template -->
    <link href="~/Content/StyleAbout.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
    @*<div class="imagedirecteur">
        <img src="~/Images/index.jfif" value="photo du directeur" />
    </div>*@
    <!-- Begin page content -->
    <main class="flex-shrink-0">

        <div class="container">
            <h2 class="apart"> Mot du directeur</h2>

            <h4 class="classestitre">Former les adultes, c'est une voie, un devoir moral et surtout, une fierté.</h4>


            <p class="madiv122">
                20 ans après, je me souviens toujours de la remise de mes premières évaluations.
                Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
                qu'ils repartent heureux. Pendant quelques jours ou semaines, nous, formateurs, avons
                le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplois.
                Leurs reconnaissance est notre plus grande récompense
            </p>
        </div>
        <div class="container">
            <h2 class="apart">
                À propos
            </h2>
            <p class="madiv122">
                Développer une offre de formations cohérente n'est pas une chose aisée. Détecter et comprendre 
                les besoins futurs de nos clients en tenant compte des spécificités locales ou des évolutions des métiers est un 
                challenge particulièrement difficile à relever. Pour y parvenir, nous avons fixé 5 objectifs prioritaires.
            </p>
            <dl class="about-us__basic-info-list">
                <div class="basic-info-item">
                    <dt class="basic-info-item__term">
                        Site web
                    </dt>
                    <dd class="basic-info-item__description">
                        <a class="external-link about-us__link" href="https://www.linkedin.com/redir/redirect?url=https%3A%2F%2Fwww%2Edawan%2Efr%2F&amp;urlhash=umGY&amp;trk=about_website" data-tracking-control-name="about_website" target="_blank" rel="noopener" data-tracking-will-navigate>
                            https://www.dawan.fr/
                            <icon class="external-link__icon lazy-load about-us__icon" data-delayed-url="https://static-exp1.licdn.com/sc/h/49229g4q0jsla5l1xojq1wob9" aria-hidden="true"></icon>
                        </a>
                    </dd>
                </div>
                <div class="basic-info-item">
                    <dt class="basic-info-item__term">

                        Secteurs
                    </dt>
                    <dd class="basic-info-item__description">

                        Formation professionnelle et coaching

                    </dd>
                </div>
                <div class="basic-info-item">
                    <dt class="basic-info-item__term">

                        Taille de l’entreprise
                    </dt>
                    <dd class="basic-info-item__description">

                        51-200 employés

                    </dd>
                </div>
                <div class="basic-info-item">
                    <dt class="basic-info-item__term">

                        Siège social
                    </dt>
                    <dd class="basic-info-item__description">

                        Nantes, Pays de la Loire

                    </dd>
                </div>
                <div class="basic-info-item">
                    <dt class="basic-info-item__term">

                        Type
                    </dt>
                    <dd class="basic-info-item__description">

                        Société de personnes (associés)

                    </dd>
                </div>
                <div class="basic-info-item">
                    <dt class="basic-info-item__term">

                        Fondée en
                    </dt>
                    <dd class="basic-info-item__description">

                        2000

                    </dd>
                </div>
                <div class="basic-info-item">
                    <dt class="basic-info-item__term">

                        Domaines
                    </dt>
                    <dd class="basic-info-item__description">

                        formation et formation professionnelle

                    </dd>
                </div>

            </dl>
        </div>
            
        
        
    </main>




</body>
</html>





