
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<link rel="stylesheet" href="~/Content/StyleAbout.css" />
<body>

    <img src="~/Images/index.jfif" value="photo du directeur"/>
    <div class="textacoteimage">
        <h3>Jérôme MERCKLING</h3><h5>Dirigeant - Fondateur</h5>
    </div>
    
    <div class="madiv1">
        <h2 class="apart"> Mot du directeur</h2>

        <h4 class="classestitre">Former les adultes, c'est une fierté</h4>


        <p class="madiv122">
            20ans après, je me souviens toujours de la remise de mes premières évaluations.
            Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
            qu'ils repartent heureux. Pendnat quelques jours ou semaines, nous, formateurs, avons
            le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplos .
            Leurs reconnaissance et notre plus grande récompense
        </p>



        <h4 class="classestitre">Former les adultes, c'est un devoir moral</h4>

        <p class="madiv122">
            Use this area to provide additional information.
        </p>

        <h4 class="classestitre">Former les adultes, c'est une solution</h4>

        <p class="madiv122">
            Use this area to provide additional information.
        </p>

        <h4 class="classestitre">former les adultes, c'est une voie</h4>

        <p class="madiv122">
            Use this area to provide additional information.
        </p>

    </div>
</body>




