@*<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <link rel="stylesheet" href="~/Content/StyleAbout.css" />
    <body>
        <div class="imagedirecteur">
            <img src="~/Images/index.jfif" value="photo du directeur" />
        </div>

        <div class="textacoteimage">

            <h3>Jérôme MERCKLING</h3><h5>Dirigeant - Fondateur</h5>
        </div>

        <div class="madiv1">
            <h2 class="apart"> Mot du directeur</h2>

            <h4 class="classestitre">Former les adultes, c'est une fierté</h4>


            <p class="madiv122">
                20ans après, je me souviens toujours de la remise de mes premières évaluations.
                Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
                qu'ils repartent heureux. Pendnat quelques jours ou semaines, nous, formateurs, avons
                le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplos .
                Leurs reconnaissance et notre plus grande récompense
            </p>



            <h4 class="classestitre">Former les adultes, c'est un devoir moral</h4>

            <p class="madiv122">
                20ans après, je me souviens toujours de la remise de mes premières évaluations.
                Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
                qu'ils repartent heureux. Pendnat quelques jours ou semaines, nous, formateurs, avons
                le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplos .
                Leurs reconnaissance et notre plus grande récompense
            </p>

            <h4 class="classestitre">Former les adultes, c'est une solution</h4>

            <p class="madiv122">
                20ans après, je me souviens toujours de la remise de mes premières évaluations.
                Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
                qu'ils repartent heureux. Pendnat quelques jours ou semaines, nous, formateurs, avons
                le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplos .
                Leurs reconnaissance et notre plus grande récompense
            </p>

            <h4 class="classestitre">former les adultes, c'est une voie</h4>

            <p class="madiv122">
                20ans après, je me souviens toujours de la remise de mes premières évaluations.
                Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
                qu'ils repartent heureux. Pendnat quelques jours ou semaines, nous, formateurs, avons
                le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplos .
                Leurs reconnaissance et notre plus grande récompense
            </p>

        </div>
    </body>*@

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">




    <!-- Bootstrap core CSS -->
    <link href="~/content/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }     
    </style>


    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
    <div class="imagedirecteur">
        <img src="~/Images/index.jfif" value="photo du directeur" />
    </div>
    <!-- Begin page content -->
    <main class="flex-shrink-0">

        <div class="container">
            <h2 class="apart"> Mot du directeur</h2>

            <h4 class="classestitre">Former les adultes, c'est une fierté</h4>


            <p class="madiv122">
                20ans après, je me souviens toujours de la remise de mes premières évaluations.
                Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
                qu'ils repartent heureux. Pendnat quelques jours ou semaines, nous, formateurs, avons
                le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplos .
                Leurs reconnaissance et notre plus grande récompense
            </p>



            <h4 class="classestitre">Former les adultes, c'est un devoir moral</h4>

            <p class="madiv122">
                20ans après, je me souviens toujours de la remise de mes premières évaluations.
                Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
                qu'ils repartent heureux. Pendnat quelques jours ou semaines, nous, formateurs, avons
                le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplos .
                Leurs reconnaissance et notre plus grande récompense
            </p>

            <h4 class="classestitre">Former les adultes, c'est une solution</h4>

            <p class="madiv122">
                20ans après, je me souviens toujours de la remise de mes premières évaluations.
                Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
                qu'ils repartent heureux. Pendnat quelques jours ou semaines, nous, formateurs, avons
                le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplos .
                Leurs reconnaissance et notre plus grande récompense
            </p>

            <h4 class="classestitre">former les adultes, c'est une voie</h4>

            <p class="madiv122">
                20ans après, je me souviens toujours de la remise de mes premières évaluations.
                Cette joie si particulière lorsque des adultes reconaissent votre travail de formateur,
                qu'ils repartent heureux. Pendnat quelques jours ou semaines, nous, formateurs, avons
                le pourvoir de donner un nouveau souffle aux actifs et aux demandeurs d'emplos .
                Leurs reconnaissance et notre plus grande récompense
            </p>
        </div>
    </main>




</body>
</html>





