

@model GestionFormation.DTO.UserDTO
<link rel="stylesheet" href="~/Content/StyleContact.css" />
<div class="divprincipale">


    <div class="contact-section">

        <form class="contact-form">
            <h3 class="titre1">Nous contacter</h3>
            @if (Session["userConnected"] == null)
            {
                <input type="text" class="contact-form-text" placeholder="votre nom" />
                <input type="text" class="contact-form-text" placeholder="Votre prénom" />
                <input type="email" class="contact-form-text" placeholder="Votre adresse mail" />

            }

            @if (Session["userConnected"] != null)
            {
                <input type="text" class="contact-form-text" value="@(((GestionFormation.DTO.UserDTO)Session["userConnected"]).Nom)" />
                <input type="text" class="contact-form-text" value="@(((GestionFormation.DTO.UserDTO)Session["userConnected"]).Prenom)" />
                <input type="email" class="contact-form-text" value="@(((GestionFormation.DTO.UserDTO)Session["userConnected"]).Email)" />
            }

            <input type="tel" class="contact-form-text" placeholder="Votre numéro de téléphone" />
            <select class="contact-form-text">
                <option selected>Sélectionner le service à contacter</option>
                <option>Service commercial</option>
                <option>Administration</option>
                <option>Réclamations</option>
                <option>Problèmes de connexion</option>
            </select>
            <textarea cols="30" rows="10" class="contact-form-text" placeholder="Votre message"></textarea>

            <input type="button" class="btn btn-default btn-primary envoyer" value="Envoyer" />


        </form>
    </div>
    <div id="map">
        <h3 class="titre2">Nous trouver</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2710.521863688233!2d-1.538199684019558!3d47.20637032353211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805eecb00f3418b%3A0xdf6c23014e8f0d03!2s12%20Rue%20Ga%C3%ABtan%20Rondeau%2C%2044000%20Nantes!5e0!3m2!1sfr!2sfr!4v1607985084130!5m2!1sfr!2sfr"
                width="700" height="500" frameborder="0" style="border:double" allowfullscreen>
        </iframe>
    </div>
    <div id="fbpage">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FDawanFrance&amp;width=220&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=285"
                style="border:none; overflow:hidden; width:220px; height:285px; margin-bottom:20px;" allowTransparency="true">
        </iframe>
    </div>
    <div id="pagelinkedin">
        <img class="imagein" src="~/Images/linkedin.png"></a>
    </div>

    <div id="pagetwitter">
        <img class="imagein" src="~/Images/index.png" ></a>
    </div>


</div>

@*<address class="adresses">
        <strong>Service commercial :</strong><a href="mailto:commercial@dawan.fr" target="outlook">Commercial@dawan.fr</a><br />
        <strong>Direction :</strong> <a href="mailto:direction@dawan.fr">Direction@dawan.fr</a>
    </address>*@