@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Page principale</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="~/Content/signin.css" rel="stylesheet">
    
</head>
<body>
    <form class="form-signin">
        <img class="mb-4" src="http://www.dawan.fr/images/institutionnel-logo.png" alt="" left="100 "width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Vous êtes :</h1>
        <div>
            <img class="mb-4" src="https://cdn.icon-icons.com/icons2/77/PNG/128/user_administrator_blue_15072.png" alt="" width="72" height="72">
            
            <img class="mb-4" src="https://cdn.icon-icons.com/icons2/1670/PNG/512/10207manstudentlightskintone_110568.png" alt="" width="72" height="72">
            
            <img class="mb-4" src="https://cdn.icon-icons.com/icons2/39/PNG/128/user_person_people_6100.png" alt="" width="72" height="72">
        </div>
        <div>
            <button type="button" class="btn btn-success">Administrateur</button>
            <button type="button" class="btn btn-primary" href="~/Views/Home/Index.cshtml">Stagiaire</button>
            <button type="button" class="btn btn-danger">Formateur</button>
        </div>        
    </form>
</body>
</html>
