@model IEnumerable<GestionFormation.DTO.JourneeDTO>

@{
    //Pour le Calcul du numéro de la semaine
    System.Globalization.DateTimeFormatInfo dfi = System.Globalization.DateTimeFormatInfo.CurrentInfo;
    System.Globalization.Calendar cal = dfi.Calendar;
    int WeekIndex = cal.GetWeekOfYear(ViewBag.DateLundi, dfi.CalendarWeekRule, dfi.FirstDayOfWeek);

    ViewBag.Title = "Emploi du temps de la Semaine " + WeekIndex;
}

<!-- CSS de l'EDT -->
@Styles.Render("~/Content/EmploiDuTemps.css")

@section scripts
{
    @* Ajax pour le mois *@
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

<!-- Html pour le calendrier du mois à gauche -->
<div id="_EdtMonth">
    @Html.Partial("_EdtMonth", TempData["moisReference"])
</div>

<!-- Html pour l'edt de la semaine -->
<div id="_EdtBody">
    @Html.Partial("_EdtBody", Model)
</div>





